__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.venv/
*.egg-info/
.DS_Store
.vscode/

data/*
!data/raw/
!data/raw/.gitkeep
!data/raw/*
!data/external/
!data/external/.gitkeep
!data/samples/
!data/samples/*

outputs/*
